._wrap_2cqlg_46 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
._loading_1on1o_1 {
  animation: _rotate_1on1o_1 2s linear infinite;
}
._circle_1on1o_4 {
  stroke-dasharray: 100;
  animation: _dash_1on1o_1 1.4s ease-in-out infinite;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  stroke: currentColor;
}
._circle_1on1o_4._primary_1on1o_9 {
  --tw-text-opacity: 1;
  color: rgba(37, 99, 235, var(--tw-text-opacity));
}
._circle_1on1o_4._success_1on1o_12 {
  --tw-text-opacity: 1;
  color: rgba(16, 185, 129, var(--tw-text-opacity));
}
._circle_1on1o_4._warning_1on1o_15 {
  --tw-text-opacity: 1;
  color: rgba(245, 158, 11, var(--tw-text-opacity));
}
._circle_1on1o_4._danger_1on1o_18 {
  --tw-text-opacity: 1;
  color: rgba(239, 68, 68, var(--tw-text-opacity));
}
@keyframes _rotate_1on1o_1 {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes _dash_1on1o_1 {
  0%,
  25% {
    stroke-dashoffset: 96;
    transform: rotate(0);
  }
  50%,
  75% {
    stroke-dashoffset: 26;
    transform: rotate(45deg);
  }
  100% {
    stroke-dashoffset: 96;
    transform: rotate(360deg);
  }
}

body {
  @apply antialiased text-gray-600;
}
